<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Calculator</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body onload="load()">
    <div id="calculator">
        <!-- Screen and clear key -->
        <div class="top">
            <span id="clear">ON</span>
            <div id="screen"></div>
        </div>

        <div class="keys">
            <!-- operators and other keys -->
            <span>sin</span>
            <span>cos</span>
            <span>tan</span>
            <span class="left">exp</span>
            <span>asin</span>
            <span>acos</span>
            <span>atan</span>
            <span class="left">log</span>
            <span>sinh</span>
            <span>cosh</span>
            <span>tanh</span>
            <span class="left">x^2</span>
            <span>asinh</span>
            <span>acosh</span>
            <span>atanh</span>
            <span class="left">sqrt</span>
            <span class="bottom">D2R</span>
            <span class="bottom">R2D</span>
            <span class="bottom">-x</span>
            <span class="left">1/x</span>
        </div>
    </div>
    <div class="challenge">
        <a href="try">Try</a>
    </div>
    <script type="text/javascript" src="static/index.js"></script>
</body>
</html>